<div id="hero" class="card">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRP9roCTLw1CijAlUv6aAzaP_5ihs6HeMvUoQ&usqp=CAU " class="img-fluid ">
    <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center ">

        <div class="hero-text text-center ">
            <h1>ABOUT <br> GITSEARCH</h1><br>
            <h5> This application enables a user to enter a GitHub username into a form, submit it,<br> and see names and descriptions of that person's public repositories.</h5>
        </div>

    </div>
</div>