<div id="hero" class="card">
    <img src="https://images.unsplash.com/photo-1542797506-a717c8e60f76?crop=entropy&cs=srgb&fm=jpg&ixid=Mnw3MjAxN3wwfDF8c2VhcmNofDg0fHxwdXJwbGUlMjBwaW5rfGVufDB8fHx8MTY1MDE5NTI0OA&ixlib=rb-1.2.1&q=85&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450" class="img-fluid ">
    <div class="card-img-overlay">

        <div class="hero-text text-center">
            <h1>WELCOME <br> TO GITSEARCH</h1>
            <h5> This application enables a user to enter a GitHub username into a form, submit it,<br> and see names and descriptions of that person's public repositories.</h5>
            <app-search-form></app-search-form>
        </div>
    </div>
</div>