<div class="form">
    <form (ngSubmit)="userSearch()">
        <div class=" my-4 ">
            <div class="col ">
                <input class="name " type="text " id="name " name="name " [(ngModel)]="username" placeholder="Enter username" (focus)='hideAlert()' required/>
            </div>
            <div class="text-danger alert" *ngIf='isEmpty'>Please fill out this field.</div>
            <button type="submit " class="btn btn-outline-success text-uppercase my-3">
            Search
          </button>
        </div>
    </form>